<div class="form-container">
{{#if message}}
    {{message}}
{{/if}}

{{#if message2}}
    {{message2s}}
{{/if}}

<form action="/auth/signup" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Sign up</button>
</form>
</div>