<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
   <link rel='stylesheet' href='/stylesheets/mpc2.css' />
   <script src="/mpc2.js"></script>
</head>
<body>
  
</body>
</html>

<div id="container">
  <div id="info">
    <span>Cloud7Even!</span>
  </div>

  <ul class="grill one">
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
  </ul>
  <ul class="grill two">
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
  </ul>  

  <div id="padgrid">
    <div class="pad">&nbsp;</div>
    <div class="pad">&nbsp;</div>    
    <div class="pad">&nbsp;</div>
    <div class="pad">&nbsp;</div>
    <div class="pad">&nbsp;</div>
    <div class="pad">&nbsp;</div>
    <div class="pad">&nbsp;</div>
    <div class="pad">&nbsp;</div>
    <div class="pad">&nbsp;</div>
    <div class="pad">&nbsp;</div>
    <div class="pad">&nbsp;</div>
    <div class="pad">&nbsp;</div>
    <div class="pad">&nbsp;</div>
    <div class="pad">&nbsp;</div>
    <div class="pad">&nbsp;</div>
    <div class="pad">&nbsp;</div>
  </div>
</div>

<footer>
  <div class="holder">
  </div>
</footer>